{% extends 'layout.html' %}

{% block body %}

<main>
  <div class="container">
    
  <hr>
  {% if articles %}

  <div class="row">
    <div class="col-md-8">
      <div  class="card mb-4">
        {% for article in articles %}
        
        <div class="card-body">
     
          <h5 class="card-title">{{article.title}}</h5>
          <p class="card-text">Author: {{article.author}}</p>
          <p class="card-text">{{article.content}}</p>
          <a href="/detail/{{article.id}}" class="btn " style="background-color:black; color:white">Show me</a>
        </div>
        <div class="card-footer text-muted">
        <p class="card-text">{{article.created_date}}</p>
        </div>
        <hr>
        {% endfor %}
      </div>
      {% else %}
        <div class="alert alert-danger">Article is not written so far.</div>
      {% endif %}
    </div>
    <div class="col-md-4">
       <div class="card-header">
         <h5>Contents</h5>
        </div>
       <div class="card-body"> 
        <div class="row">
        <div class="col">
         {% if articles %}
         <ul class="list-unstyled">
         {% for article in articles  %}
         <li>
         {{article.title}}
         </li>
         {% endfor %}
         </ul>
         {% endif %}
        </div>
        </div>
       </div>
      

      
    </div>
 
 
 </div>
</main>



{% endblock %}