{% extends "layout.html" %}

{% block body %}
{% from "includes/formhelpers.html" import render_field %}

<h3>Sıgn In</h3>
<hr>

<form method = "post">
  <div class="form-group">
    
    {{ render_field(form.name, class= "form-control") }}
    {{ render_field(form.username, class= "form-control") }}
    {{ render_field(form.email, class= "form-control") }}
    {{ render_field(form.password, class= "form-control") }}
    {{ render_field(form.confirm, class= "form-control") }}
  </div>
  
  <button style="font-size:25px; font-weight: bold;" type="submit" class="btn btn-success">Sıgn In</button>
</form>

{% endblock body %}